article:hover {
    cursor: pointer;
}

article .user_data {
    display: flex;
}

article .user_email {
    background-color: #2b4c99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .user_age {
    background-color: #39aae1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}

article .user_thumb {
    margin-top: 30px;
}

article .user_name {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}

article .user_nickname,
.contact_text {
    font-size: 14px;
    line-height: 20px;
    color: #5c5c5c;

}

article .user_nickname {
    margin-bottom: 30px;
}