.user_card {
    transition: all .3s ease-in-out;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.user_card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

article .user_data {
    display: flex;
}

article .user_email {
    background-color: #2b4c99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .user_age {
    background-color: #39aae1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}

article .user_thumb {
    margin-top: 30px;
}

article .user_name {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}

article .user_nickname,
.contact_text {
    font-size: 14px;
    line-height: 20px;
    color: #5c5c5c;

}

article .user_nickname {
    margin-bottom: 30px;
}