header {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

header ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}