.client_card {
    transition: all .3s ease-in-out;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.client_card:hover {
    transform: scale(1.02);
}

article .client_data {
    display: flex;
    justify-content: center;
}


article .client_email {
    background-color: #2b4c99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .client_name {
    margin: 10px 0;
    padding-left: 10px;
    color: #000;
    font-size: 23px;
}

article .client_button {
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    margin-right: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

article .client_button:hover {
    transform: scale(1.1);

}

.warning {
    background-color: rgb(255, 255, 170);
    color: #000;
    font-weight: bolder;
}

.danger {
    background-color: rgb(255, 129, 129);
    color: #000;
    font-weight: bolder;
}

article .client_document {
    font-size: 14px;
    line-height: 20px;
    color: #5c5c5c;
    margin-bottom: 10px;
    padding-left: 10px;
}

.deleteArea {
    margin: 10px 0;
    display: flex;
}