* {
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    padding: 0 20px;
}

body {
    margin: 0;
    padding: 0;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media(max-width:600px) {
    .container {
        flex-direction: column-reverse;
    }

    .flex {
        justify-content: center;
    }

    header {
        height: auto;
    }

    article {
        margin: 0;
    }
}