.client_form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputAreaCreate {
    display: flex;
    flex-direction: column;
}

.save_create {
    background-color: #39aae1;
    border-color: #39aae1;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    height: 40px;
    transition: all .2s ease-in-out;
    width: 50%;
    align-self: center;
    margin-top: 5px;
}

.column {
    flex-direction: column;
}

.messageArea {
    width: 100%;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.messageArea.success {
    background-color: rgb(220, 255, 168);
}

.messageArea.error {
    background-color: rgb(255, 167, 167);
}