.sideMenuArea {
    height: 100vh;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideMenuArea ul {
    list-style: none;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.sideMenuArea li {

    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: aliceblue;
    border-radius: 8%;
    transition: all .2s ease-in-out;
}

.sideMenuArea li:hover {
    transform: scale(1.1);
}

.sideMenuArea ul a {
    text-decoration: none;
}